@charset "UTF-8";
/* CSS Document */
body, html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
	background: url(../images/pinkP2bgRepeat.jpg) repeat-x;
}
.wrapMain {
	position: relative;
	margin: 0 auto;
	width: 1120px;
	height: 900px;
	background: url(../images/bgMain_p2v2.jpg);
}
h1.productTableHead {
	margin: 0;
	color: #d71b5c;
	font-size: 18px;
	line-height: 23px;
	font-weight: bold;
}
p.productTableSubhead {
	margin: 0;
	color: #333333;
	font-size: 16px;
	line-height: 23px;
}
table.product {
	position: absolute;
	top: 225px;
	left: 276px;
}
.red {
	color: #F00;
}
.white {
	color: #FFFFFF;
}
p.accept {
	font-size: 12px;
	color: white;
	position: relative;
	height: 65px;
	text-align: center;
	margin: 5px 0 0 0;
}
.formP2 {
	position: absolute;
	width: 264px;
	height: 267px;
	top: 383px;
	right: 154px;
}
.formP2 .row {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 0 15px 0;
}
.formP2 label {
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	position: relative;
	width: 85px;
	height: 25px;
	text-align: left;
	display: inline-block;
	float: left;
	margin: 0 0 0 20px;
}
.formP2 input {
	position: relative;
	width: 132px;
	height: 23px;
	background: none;
	line-height: 12px;
	background: white;
	border: 2px solid #333333;
	margin: 0;
	display: inline-block;
}
.formP2 input.short {
	width: 60px;
}
.styleSelect {
	position: relative;
	border: 2px solid #333333;
	display: inline-block;
	width: 60px;
	min-height: 25px;
	margin: 0 8px 0 0;
	background: url(../images/arrowsSelect.png) right 6px no-repeat white;
	overflow: hidden;
}
select {
	position: relative;
	float: left;
	width: 100px;
	height: 25px !important;
	font-size: 12px;
	line-height: 12px;
	padding: 3px 5px;
	margin: 0px;
	-webkit-appearance: none;
	border: none;
	background: transparent;
}
a.whatsThis {
	right: 25px;
	top: 5px;
	display: inline;
	font-size: 10px;
	line-height: 18px;
	color: #333333;
	position: absolute;
	height: 24px;
	text-align: left;
	text-decoration: underline;
}
.formP2 .subBtn {
	margin: 3px 8px;
	position: relative;
	float: left;
	width: 248px;
	height: 59px;
	background: none;
	border: none;
}
.termsPrivacy {
	width: 100%;
	height: 24px;
	bottom: 132px;
	font-size: 10px;
	color: #333333;
	position: absolute;
	text-align: center;
}
.shipPromo {
	width: 216px;
	height: 40px;
	position: absolute;
	top: 449px;
	left: 451px;
}
.shipPromo input {
	width: 89px;
	height: 16px;
	float: left;
	margin: 10px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.shipPromo .btnSubPromo {
	width: 91px;
	height: 20px;
	float: left;
	margin: 10px 0;
}
#p2total {
	font-weight:bold;
}
